@media (max-width:1200px) {

    .container-section{
        width: 100%;
        margin: auto;
       
    }

    .header-section .logo {
        width: 40%;
    }

    .header-section .menu {
        width: 55%;
    }

}

@media (max-width:1100px)  and (min-width:1000px) {
    
    .header-section .logo {
        width: 35%;
    }

    .header-section .menu {
        width: 65%;
    }
}